<h1><%=h @participant.name %> <%= link_to image_tag('/images/icons/edit.png'), edit_participant_path(@participant) if admin? %></h1>

<p>
  <strong>Email:</strong>
  <%=h @participant.email %>
</p>
<p>
  <strong>Telefono:</strong>
  <%=h @participant.phone %>
</p>
<p>
  
</p>

